[Unit]
Description=Argus Flow Monitor Node %I
After=syslog.target network.target
Wants=firewalld.service napatech.service
Conflicts=argus.service

[Service]
Type=forking
Restart=always
RestartSec=5
ExecStartPre=/usr/sbin/argus-setup-numa start %i 16
ExecStart=/bin/numactl -N %i -l /usr/sbin/argus -X -d -F /run/argus/argus.%i.conf
ExecStopPost=/usr/sbin/argus-setup-numa stop %i 16

[Install]
WantedBy=multi-user.target
