[Unit]
Description=Argus Flow Monitor
After=syslog.target network.target

[Service]
Type=forking
Restart=always
RestartSec=5
EnvironmentFile=/etc/sysconfig/argus
ExecStart=/usr/sbin/argus -X -d -F /etc/argus.conf $DAEMON_ARGS

[Install]
WantedBy=multi-user.target
